{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fields.css' %}">
    <script src="{% static 'js/dynamic.fields.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>CSV fake data generator</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'generator:index' %}">CSV fake data generator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'generator:schemas' %}">Schemas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'generator:generate' %}">Create schema</a>
        </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
          </li>
          {% endif %}


      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock content %}
</body>
</html>

